<div class = "form_article">
<h2>Articles</h2>

  <% if @articles.blank? %>
    <h4>There are no articles containing the term '<%= params[:search] %>'.</h4>
  <% end %>
 
  <% @articles.each do |article| %>
  <br>
    <tr>
      <td><% if article.user %>
          User: <%= article.user.name %>
          <% end %>
      </td><br>
      <td> Title: <%= article.title %></td> <br>
      <td><%= article.text %></td><br>

      
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy',
                                article_path(article),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <br>
  <% end %>
</table>
</div>