<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <div class= "page_heading">
      <h1>Mumblr</h1>
       <p>
         <% if current_user %>
             <ul class= "nav_ul">
              <li class = "nav_li">Logged in as <%= current_user.name %></li>                 
              <li class = "nav_li"><%= link_to "Home", controller: 'welcome' %></li>
              <li class = "nav_li"><%= link_to "Log Out", logout_path %></li>
              <li class = "nav_li"> <%= link_to'My Blog', controller: 'articles' %></li>
              <li class = "nav_li"> <%= link_to 'New article', new_article_path %></li>
             
             </ul>
         <% else %>
         <ul class= "nav_ul">
          <li class = "nav_li"><%= link_to "Home", controller: 'welcome' %></li>
          <li class = "nav_li"><%= link_to "Sign Up", signup_path %></li>
          <li class = "nav_li"><%= link_to "Log In", login_path %></li>
          <li class = "nav_li"> <%= link_to'Browse', controller: 'articles' %></li>
          
         </ul>
         <% end %>
     </p>
   </div>
    

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
