<p id="alert"><%= alert %></p>
<div class= "form">
<h2>Login</h2>
<%= form_tag sessions_path do |form| %>
    <div class="field">
        <%= label_tag :email %>
        <br>
        <%= text_field_tag :email %>
    </div>
    <br>
    <div class="field">
        <%= label_tag :password %>
        <br>
        <%= password_field_tag :password %>
    </div>
    <br>
    <div class="actions">
        <%= submit_tag "Login" %>
    </div>
<% end %>
</div>